@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-principa: #ADB24C;
    --cor1:#484838;
    --cor:#00c4af;
    --cor:#008d7b;
    --preto:#000000;
    --branco:#FFFFFF;
}

body {
    font-size:1rem;
    font-family: 'Montserrat';
}