@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-principa: #e3e619;
    --cor1:#484838;
    --cor:#00c4af;
    --cor:#008d7b;
    --preto:#000000;
    --branco:#FFFFFF;
}

body {
    font-size:1rem;
    font-family: 'Montserrat';
}
#contato {
background:var(--cor-principa);
background-size: cover;
padding: 4rem 0;
}
.formulario{
    background-color:var(--branco);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-weight: bold;
}
.formulario button {
    background-color: var(--cor3);
    border: none;
    font-weight: bold;
}
.form-control{
    background-color: var(--cor2)
}
